@model FestMVC.Models.EventImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>

        <dt>
            @Html.DisplayName("Image Name")
        </dt>

        <dd>
            @{
                string fileName = Path.GetFileName(Model.Name);
                @Html.DisplayFor(model => fileName);
            }
        </dd>

        <dt>
            @Html.DisplayName("Image")
        </dt>

        <dd>
           @if (Model.Name != null)
            {

            <img src="@Url.Content(Path.Combine("~", Model.Name))" alt="Image file is missing or has different name" />

           }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back...", null, null, null, new { href = Request.UrlReferrer })
</p>
