@model IEnumerable<FestMVC.Models.HomeCategoryViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Fiesta!</h1>
    <p class="lead">The one place for all your Festiveties needs...</p>
    <p>@Html.ActionLink("Learn more about Fiesta", "About", "Home",new { } ,new {@class="btn btn-success btn-lg"})</p>
</div>



<div class="container">

    @for (int i = 0; i < Model.ToList().Count(); i++)
    {

        if (i % 3 == 0)
        { @Html.Raw("<div class=\"row stylish-panel\">")}
        <div class="col-md-4">
            <div>
                <img src="@Url.Content(Path.Combine("~", Model.ToList()[i].Images[0]))" alt="Image Doesn't Exist for the Category" class="img-circle img-thumbnail" />
                <h2>@Model.ToList()[i].Name</h2>
                <p>
                    @Model.ToList()[i].Description
                </p>
                @Html.ActionLink("See Festivals Time Line", "CategoryFestivals", "Categories", new { id = Model.ToList()[i].Id }, new { @class = "btn btn-success" })
            </div>
        </div>

        if (i % 3 == 2)
        {@Html.Raw("</div>")}

    }

    @if (Model.ToList().Count() % 3 < 2)
    {@Html.Raw("</div>")}

</div>

<!-- /container -->