<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fiesta</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*RenderSection("myScripts", false)            section (for jscript) which layout fetch from view*@


    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fiesta", "Index", "Festivals", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Festivals", "Index", "FestivalEnrollments")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="content" class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            @*<div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright">
                        &copy; @DateTime.Now.Year - Danny Konstadt

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="design">
                        @Html.ActionLink("About", "About", "Home") |  @Html.ActionLink("Contact Us", "Contact", "Home")
                    </div>
                </div>
            </div>*@

            @*<p>&copy; @DateTime.Now.Year - Danny Konstadt</p>*@

        </footer>
    </div>
    @*<div class="panel-footer panel-collapse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright footer panel-footer">
                        &copy; @DateTime.Now.Year - Danny Konstadt

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="design footer panel-footer">
                        @Html.ActionLink("About", "About", "Home") |  @Html.ActionLink("Contact Us", "Contact", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
</body>
</html>
